body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #fff;
    text-align: center;
    /*padding: 20px;*/
}

.container {
    max-width: 400px;
    margin: auto;
}

img {
    width: 100%;
    /*border-radius: 12px;*/
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

/*.pix {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}*/

.download { background: #22c55e; /*#22c55e */}
.whatsapp { background: #0f5328;/*#25D366*/ }
.email { background: #3b82f6; /*#3b82f6*/}
.contact { background: #a06807; /*#f59e0b*/}

button:hover {
    opacity: 0.9;
}
/*
.pix:hover {
    background-color: #28a99a;
}*/
.pix {
    background-color: #32BCAD;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    /*margin: 8px 0;*/
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#pixArea input {
    padding: 10px;
    width: 60%;
    margin-right: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.gerar {
    padding: 10px;
    width: 60%;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
#resultadoPix img {
    margin-top: 10px;
    width: 200px;
}


/* Caixa branca que envolve o QR Code */
#qrcode {
    background-color: #ffffff; /* Fundo branco obrigatório */
    padding: 20px;             /* Margem interna para criar a moldura branca */
    display: inline-block;     /* Faz a caixa ajustar-se ao tamanho do QR Code */
    border-radius: 12px;       /* Cantos arredondados para combinar com seus botões */
    margin-top: 10px;          /* Espaço em relação ao texto superior */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra para dar destaque sobre o fundo negro */
}

/* Garante que o canvas/imagem gerado ocupe o espaço correto */
#qrcode canvas, #qrcode img {
    display: block;
    margin: 0 auto;
}

/* Estilo para o texto do valor que aparece abaixo da caixa */
#valorExibido {
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    display: block;
}